.education-item {
  display: flex;
  align-items: center;
  margin-bottom: -2em;
  padding: -2em 0;
}

.education-logo {
  flex-shrink: 0;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-logo img {
  border-radius: 8px;
  object-fit: contain;
}

.education-content {
  flex: 1;
  line-height: 1.6;
}

.education-content strong {
//   color: #333;
  font-weight: 600;
}

.education-content em {
//   color: #666;
  font-style: italic;
}